<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button target="_blank" href="pagos24://app-authorization?email=secret0@gmail.com&redirectUrlScheme=deeplinkstest">
    Go to pagos 24 android
  </ion-button>

  <a target="_blank" href="https://pagos24.com/app-authorization?email=secret0@gmail.com&redirectUrlScheme=https://deeplinkstest.com">
    Go to pagos 24 ios
  </a>
</ion-content>
